body{
    background-image: url(../images/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins' , sans-serif;
}

@media (min-width: 320px) and (max-width: 480px) {

    
  }